@page
@model gaton.Pages.GatoModel
@{
    ViewData["Title"] = "Juego del Gato";
}
@if (!string.IsNullOrEmpty(Model.ganador))
{
    if(@Model.ganador == "X" || @Model.ganador == "O"){
    <h2>Gano: @Model.ganador</h2>
    }else{
        <h2>Fue: @Model.ganador</h2>
    }

}
else
{
    <h2>Turno: @Model.turno</h2>
}

<form method="post">
    <input type="hidden" name="Turno" value="@Model.turno" />
    <div class="tablero">
        @for (int i = 0; i < 9; i++)
        {
            <button type="submit" name="CasillaSeleccionada" value="@i" class="casilla">
                @Model.tablero[i]
            </button>
        }

    </div>
</form>

<form method="post" asp-page-handler="Reiniciar">
    <button class="reiniciar" type="submit">Reiniciar Juego</button>
</form>

<style>
    .tablero {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        gap: 5px;
    }

    .casilla {
        background-color: #db5555;
        border: 2px solid #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .casilla:disabled {
        background-color: #a11313;
        cursor: default;
    }

    .casilla:hover:not(:disabled) {
        background-color: #e0e0e0;
    }
    
    .reiniciar{
        background-color: rgb(97, 141, 213);
        margin-top: 20px;
    }
</style>